.vscode/**
node_modules/**
!node_modules/@vscode/codicons/dist/codicon.css
!node_modules/@vscode/codicons/dist/codicon.ttf
src/**
!src/panel.html
scripts/**
tsconfig.json
**/*.map
**/*.vsix
**/*.bak
CLAUDE.md
ICONS.md
